<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
<table class="minimalistBlack" *ngIf="records.length > 0">
    <thead>
        <tr>
            <th>cat1 </th>
            <th>cat2 </th>
            <th>descr </th>
            <th>brand </th>
            <th>info </th>
            <th>price </th>
            <th>tags </th>
            <th>stars </th>
            cat1 : any ;   
         </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of records; let i = index;">
            <td> <span>{{record.cat1}}</span> </td>  
            <td> <span>{{record.cat2}}</span> </td>
            <td> <span>{{record.descr}}</span> </td>
            <td> <span>{{record.brand}}</span> </td>
            <td> <span>{{record.info}}</span> </td>
            <td> <span>{{record.price}}</span> </td>
            <td> <span>{{record.tags}}</span> </td>
            <td> <span>{{record.stars}}</span> </td>
        </tr>
    </tbody>
</table>

<router-outlet />
